<% if @topics.any? %>
  <div class="topics">
    <% @topics.each do |topic| %>
      <div class="topic">
        <%= link_to topic.title, topic %>
        <%= render partial: 'topics/admin_links', locals: { topic: topic } %>
      </div>
    <% end %>
  </div>
  <%= render 'topics/user_links' %>
<% end %>
